body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
  background-color: #160f1b;
}

header{
    background-color: #412567;
}
/* Navbar related styles */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  
}
.brand{
  font-weight: 700;
  font-size:3rem ;
}
.nav-links{
    display: flex;
}
.nav-links .nav-item{
  list-style: none;
  margin-right:32px ;
}
.nav-links a{
  text-decoration: none;
  font-weight: 500;
  color:white;
}
#tech{
    color: white;
}

#wave {
  background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn{
    border-radius: 20px;
    border: none;
    font-size:1rem;
    font-weight: 500;
    padding: 12px 16px;
    color: #ffffff;
    background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
}

/* banner related styles */
.container{
  display: grid;
  place-items: center;
  position: relative;
  max-width: 1600px;
}
.hero-bg-img{
  width: 100%;
}
.hero-circle-img{
  position: absolute;
  top:35%;
  left:50%;
  width: 335px;
  transform: translate(-50%, -50%);
}
.microphone-img{
  position: absolute;
  top:35%;
  left:50%;
  transform: translate(-50%, -50%);
}

.banner-title{
  color: #ffffff;
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}

.banner-description{
  color: #ffffff;
  margin-top: 0px;
}
.banner-content{
  text-align: center;
   position: absolute;
  top:90%;
  left:50%;
  transform: translate(-50%, -50%);
}

.btn-together{
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn-first{
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-radius: 20px;
  border: none;
  padding: 12px 20px;
  color: #ffffff;
    background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
}
.btn-second{
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-radius: 20px;
  color:#00FF88;
  background: transparent;
  border: 1px solid #00FF88;
  padding: 12px 20px;
}

/* New Badge */
.new{
  position: absolute;
  background: #00FF88;
  border-radius: 20px;
  font-size: 1.125rem;
  padding: 8px 16px;
  font-weight: 500;
  color: #1A0B2E;
  top:19%;
  left:59%;
  transform: translate(-50%, -50%);
}

/* About section */
.about{
  max-width: 1600px;
}
.about-container{
  width: 75%;
  margin: 0 auto;
}
.podcast-description,
.engagement{
  margin:0 auto;
}
.podcast-description{
  text-align: center;
}
.podcast-description h2{
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
}
.podcast-description p{
  color: hwb(0 80% 20%);
}

.engagement{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

/* why choose techwave section */
.why-choose-section{
  background-color: #351e58;
}
.why-choose{
  width: 75%;
  margin: 0 auto;
  color: #2a124f;
  padding-top: 30px;
  padding-bottom: 40px;
  
}
.why-choose h2{
  text-align: center;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
 
}
.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,auto);
  gap: 24px;

}
.card{
  background: #2a124f;
  border-radius: 16px;
  padding: 24px;
  color: #ffffff;
  box-shadow: 0 10px 30px black

}
.premium{
  grid-column:span 1 ;
  grid-row:span 2 ;
}
.mobile{
   grid-column:span 2 ;
  grid-row:span 1 ;
}
.global{
   grid-column:span 2;
  grid-row:span 1 ;
}
.exclusive{
  grid-column:span 2;
  grid-row:span 1 ;
}
.rich{
  grid-column:span 1;
  grid-row:span 1 ;
}

/* featured section */
.featured{
  margin-top: 40px;
  
  
}
.featured-container{
  max-width: 1200px;
  margin: 0 auto;
}

.featured-title,
.host-title{
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 50px;
}

.episodes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 100px; 
}
  .epi-card {
  border-radius: 18px;
  padding: 16px;
  box-shadow: 0 12px 35px black;
  background: linear-gradient(180deg, #401d69, #390560);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.videos{
  /* position: relative; */
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
}

.videos iframe{
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

.epi-card h3 {
  font-size: 1.15rem;
  margin-bottom: 10px;
}

.epi-card p {
  font-size: 1rem;
  line-height: 1.5;
}

.time-1,
.time-2,
.time-3 {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 5px;
  color: #3cff9e;
  font-size: 0.50rem;
}

.meet-host {
  margin-top: 60px;
}
 .host {
  display: flex;
   gap: 32px;
  align-items: center;
  background: linear-gradient(180deg, #35105e, #1a042c);
  border-radius: 20px;
  padding: 36px;
}
.about-host h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}
.about-host p {
  font-size: 1rem;
  margin-bottom: 18px;
  color: #ffffff;
}

.social {
  display: flex;
  gap: 12px;
}
.social img {
  padding: 6px;
  transition: transform 0.25s ease;
}


/* footer-styles */
footer{
  background-color: #35105e;
  background-image: url('./assets/footer-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: white;
  text-align: center;
}
.social-links{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
.social-links a {
  color: #FAFAFA;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
}


@media screen and (max-width:576px)  {
  .navbar,
  .links,
  .host,
  footer
  {
    flex-direction: column;
  }
  .host{
    text-align: center;
  }
 .social{
  margin-left: 140px;
 }
  .about{
    margin-top: 300px;
  }
  .container,
  .cards,
  .episodes{
    grid-template-columns: repeat(1,1fr);
  }
  .engagement{
    grid-template-columns: repeat(2,1fr);
  }
  .social-links{
    grid-template-columns: repeat(2,1fr);
  }
}