body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* header styles */
header{
    background-color: #412567;
}
/* Navbar related styles */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  
}
.brand{
  font-weight: 700;
  font-size:3rem ;
}
.nav-links{
    display: flex;
}
.nav-links .nav-item{
  list-style: none;
  margin-right:32px ;
}
.nav-links a{
  text-decoration: none;
  font-weight: 500;
  color:white;
}
#tech{
    color: white;
}

#wave {
  background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn{
    border-radius: 20px;
    border: none;
    font-size:1rem;
    font-weight: 500;
    padding: 12px 16px;
    color: #ffffff;
    background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
}

/* banner related styles */
.container{
  position: relative;
  max-width: 1600px;
}
.hero-bg-img{
  width: 100%;
}
.hero-circle-img{
  position: absolute;
  top:35%;
  left:50%;
  width: 335px;
  transform: translate(-50%, -50%);
}
.microphone-img{
  position: absolute;
  top:35%;
  left:50%;
  transform: translate(-50%, -50%);
}

.banner-title{
  color: #ffffff;
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}

.banner-description{
  color: #ffffff;
  margin-top: 0px;
}
.banner-content{
  text-align: center;
   position: absolute;
  top:90%;
  left:50%;
  transform: translate(-50%, -50%);
}

.btn-together{
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn-first{
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-radius: 20px;
  border: none;
  padding: 12px 20px;
  color: #ffffff;
    background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
}
.btn-second{
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-radius: 20px;
  color:#00FF88;
  background: transparent;
  border: 1px solid #00FF88;
  padding: 12px 20px;
}

/* New Badge */
.new{
  position: absolute;
  background: #00FF88;
  border-radius: 20px;
  font-size: 1.125rem;
  padding: 8px 16px;
  font-weight: 500;
  color: #1A0B2E;
  top:19%;
  left:59%;
  transform: translate(-50%, -50%);
}